/* – Ustawione domyślne wartości dla wszystkich selektorów stylu CSS: krój czcionki Verdana */
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* – Dla obu bloków banera: kolor tła #6F79A8, biały kolor czcionki, wysokość 140 px, */
.img, .title{
    background-color: #6F79A8;
    color: white;
    height: 140px;

}

/* – Dodatkowo szerokość pierwszego bloku banera wynosi 30%, drugiego 70% \ */
.img{
    width: 30%;
    float: left;
}

img{
    height: 100%;
}

.title{
    float: left;
    width: 70%;
}


/* – Dla bloku kalendarza: kolor tła #9FA8DA, szerokość 160 px, wysokość 85 px, marginesy zewnętrzne 5 px, obramowanie linią ciągłą o szerokości 1 px i kolorze #6F79A8; tekst, który nie mieści się w bloku jest ukryty i wyświetlany bez paska przewijania (np. obraz 2, pierwszy blok kalendarza)  – Gdy kursor znajdzie się na bloku kalendarza jego kolor tła zmienia się na #6F79A8, a kolor czcionki na biały */

.callendar{
    background-color: #9FA8DA;
    width: 160px;
    height: 85px;
    padding: 5px;
    border: 1px solid #6F79A8;
    clear: both;
}

.callendar:hover{
    background-color:#6F79A8 ;
    color: white;
}

/* – Dla stopki: kolor tła #6F79A8, biały kolor czcionki, marginesy wewnętrzne 5 px, wyrównanie tekstu do prawej strony */
footer{
    clear: both;
    background-color: #6F79A8;
    color: white;
    margin: 5px;
    text-align: right;
}


/* – Dla selektora nagłówka szóstego stopnia: wyrównanie tekstu do środka */

header h6{
    text-align: center;
}


/* Uwaga: styl CSS dla nagłówka szóstego stopnia należy zdefiniować wyłącznie przy pomocy selektora dla znacznika nagłówka szóstego stopnia. Jest to uwarunkowane projektem późniejszej rozbudowy witryny.  */