body{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 15vh 85vh;
    grid-template-areas: 'nav header header'
                        'nav main aside';
    box-sizing: border;
    margin: 0;
}

nav{
    background-color: rgb(255, 237, 223);
    grid-area: nav;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}

nav img:last-child{
    margin-bottom: 1rem;
}

nav img{
    width: 100px;
    filter: grayscale(100%);
}
nav img:hover{
    filter: none;
}

header{
    background-color: rgb(255, 234, 195);
    grid-area: header;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

main{
    background-color: rgb(255, 232, 205);
    grid-area: main;
}

aside{
    background-color: rgb(255, 241, 215);
    grid-area: aside;
}

.border{
    border: 1px solid rgb(54, 51, 51);
    box-shadow: 5px 5px 10px rgb(54, 51, 51);
    border-radius: 8px; 
    filter: none;
}

aside p{
    display: none;
}