body{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100px auto;
    grid-template-areas: 'aside header' 
                         'aside main';
}

aside{
    background-color: rgb(187, 225, 226);
    grid-area: aside;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

header{
    background-color: rgb(183, 202, 239);
    grid-area: header;
}

main{
    grid-area: main;
}

aside img{
    width: 100px;
    height: 100px;
}

.border{
    border: 1px black solid;
    box-shadow: 10px 10px 20px rgba(0, 50, 200, 0.5);
}

.dish{
    display:none
}