nav{
    width: 20%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

main{
    width: 80%;
}

body{
    display: flex;
}

nav img{
    width: 80px;
    height: 80px;
}

