body{
    display: grid;
    margin: 0;
    box-sizing: border;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 15vh 70vh 15vh;
    grid-template-areas: 'header header right'
                        'left main right'
                        'left nav nav';

}

header{
    grid-area:header;
    background-color: rgb(173, 253, 227);
}

main{
    grid-area: main;
    background-color: rgb(146, 182, 183);
    align-content: center;
}


nav{
    grid-area: nav;
    background-color: brown;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    align-items: center;
    gap: 25px;
    
}

nav img{
    width: 80px;
    height: 80px;
}

nav img:last-child{
    margin-right: 25px;
}

.left{
    grid-area: left;
    background-color: rgb(188, 255, 255);
}


.right{
    grid-area: right;
    background-color: rgba(253, 147, 105, 0.501);
}

button{
    height: 100px;
    width: 100px;
    font-size: 300%;
    
}

.left, .right{
    display: flex;
    align-items: center;
    justify-content: center;
}