body{
    display: grid;
    margin: 0;
    box-sizing: border;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 15vh 70vh 15vh;
    grid-template-areas: 'header header right'
                        'left main right'
                        'left nav nav';

}

header{
    grid-area:header;
    background-color: rgb(173, 253, 227);
}

main{
    grid-area: main;
    background-color: rgb(146, 182, 183);
    align-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}


nav{
    grid-area: nav;
    background-color: rgba(165, 42, 42, 10%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    align-items: center;
    gap: 25px;
    
}

nav img, .left img, .right img{
    width: 80px;
    height: 80px;
}

nav img:last-child{
    margin-right: 25px;
}

.left{
    grid-area: left;
    background-color: rgb(188, 255, 255);
    display: flex;
    flex-direction: column-reverse;
    justify-content:start;
    align-items:center;
    gap: 1rem;
    

}


.right{
    grid-area: right;
    background-color: rgba(253, 147, 105, 0.501);
    display: flex;
    flex-direction: column-reverse;
    justify-content:end ;
    align-items:center;
    gap: 1rem;
    
}

button{
    height: 100px;
    width: 100px;
    font-size: 300%;
    
}

.left img, .right img{
    filter: grayscale(100);  
}

.left img:last-child{
    margin-top: 1rem;
}

.right img:first-child{
    margin-bottom: 1rem;
}
h1 {
    padding: 2rem;
    font-size: 3rem;
}