.red{
color: rgb(155, 4, 4);
background-color: rgb(247, 213, 213);
}

.green{
color: rgb(1, 93, 1);
background-color: rgb(208, 247, 208);
}

.blue{
color: rgb(2, 2, 135);
background-color: rgb(221, 221, 253);
}