body{
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-areas: 'nav main';
}

nav{
    padding: 2rem;
    grid-area: nav;
}

main{
    padding: 2rem;
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
}

.task{
    background-color: aquamarine;
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 100px;
}