*{
    font-family: Georgia;
    color: white;
}

header, footer{
    background-color: maroon;
    text-align: center;
    padding: 2px;
}

main{
    display: flex;
}

main section{
    background-color: lightsalmon;
    height: 527px;
}

.left, .right{
    width: 15%;
}

.mid{
    width: 70%;
}

.miniatures{
    background-color: maroon;
    height: 70px;
}

button{
    background-color: lightsalmon;
    color: maroon;
    border: none;
    font-size: 400%;
    display: block;
    margin: auto;
    padding-top: 210px;
}

@keyframes myAnimation{
    from{padding-left: 50px;}
    to{padding-left: 0px;}
}

.miniatures img{
    animation-name: myAnimation;
    animation-duration: 4s;
    height: 70px;
}

.mid img{
    display: block;
    margin: auto;
    padding-top: 45px;
}

@keyframes hoverAnimation{
    from{transform: scale(100%);}
    to{transform: scale(120%)}
}

.mid img:hover{
    animation-name: hoverAnimation;
    animation-duration: 5s;
    transform: scale(120%);
}