body{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 20vh 80vh;
    grid-template-areas: 'nav aside'
                            'main aside'
}

nav{
    background-color: aqua;
    grid-area: nav;
}

aside{
    background-color: lightblue;
    grid-area: aside;
}

main{
    grid-area: main;
}

.images{
    width: 150px;
    height: 150px;
    padding: 5px;
    margin: 10px;
    background-color: azure;
    display: inline-block;
}

section.images img{
    width: 100px;
}