*{
    margin:0;
    /* padding: 0; */
    box-sizing: border;
}

body{
    box-sizing: border-box;
}
section{
    padding: 5rem;
}

main{
    display:flex;
}

nav{
    width: 40%;
}
nav section{
    height: 200px;
}
nav section:last-child{
    height: 300px;
}



aside{
    width: 60%;
}

aside section{
    height: 400px;
    background-color: antiquewhite;
}

aside img{
    width: 100%;
    color: hsl(0, 80, 50);
}

header, footer{
 height: 10vh;
 background-color: lightgrey;
 padding: 2rem;
}